@CHARSET "ISO-8859-1";
.title{
	margin-top : 100px;
}

#adress{
    font-family: "Times New Roman";
    font-size: 20px;
}

#rowImag{
	height: 573px;
	margin-top: 100px;
	background: #0000ff;
}
#rowContact{
	height: 100px;
	background: #80ff80;
}
#bienvenue{
	color: #0080ff;
	font: bold;
}
#slideshow {
    position: relative;
    width: 150px;
    height: 150px;
    margin:  20px auto;
    overflow: hidden;
}